.get-flex {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2em;
}
.scene-bar {
  display: flex;
  background-color: lightgray;
  margin: 0.5em;
  padding: 0.5em 1em;
}
.justify-end {
  margin-inline-start: auto;
}
.smlr-txt {
  font-size: 0.8rem;
}
.adjust-preview-dimen {
  width: 300px;
}
.hide-video {
  display: none;
}

.scene-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
.no-scene-selected-for-preview {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 168.75px;
  background-color: lightgray;
}

.scene-track {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 100px;
  background-color: goldenrod;
  & > span {
    background-color: white;
    margin: 1em 0.3em;
    padding: 0.5em 0.25em;
  }
}
.main-play-button {
  margin-inline-start: auto;
  margin-block: 2em;
  display: flex;
  gap: 1em;
  padding: 1em;
  border: 0;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  & > .button-symbol {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    border-color: transparent transparent transparent white;
    cursor: pointer;
    border-style: solid;
    border-width: 8px 0 8px 19px;
  }
  &:disabled {
    // background-color: gray;
    opacity: 0.3;
    cursor: not-allowed;
  }
}
.track-ruler {
  display: flex;
  gap: 1em;
  background-color: black;
  color: white;
}
